<%- include('./templates/header'); -%>
<div class="container-fluid">
    <div class="col-sm-4">
        <h1><%= message%></h1>
        <div id = "myApp">
            <% quiz.forEach(function(el,cc) { %>
                <form class = "form">
                    <div class="form-group">
                        <span><strong><%= el.question%><strong></span>
                    </div>
                    <button type= 'button' class = 'btn btn-outline-primary' quizid="<%= el.id%>" name = "play"> Adivinar </button>
                    <button type= 'button' class = 'btn btn-outline-info' quizid="<%= el.id%>" name = "edit"> Editar </button>
                    <button type= 'button' class = 'btn btn-outline-danger' quizid="<%= el.id%>" name = "delete"> Eliminar </button>
                </form>
                <hr>
            <% }); %>
            <hr>
            <p><button type= 'button' class = 'btn btn-outline-success btn-block btn-bg' name = "new"> Nueva Pregunta </button></p>
            
        </div>
    </div>
</div>
<%- include('./templates/scripts'); -%>
<script src = "./public/js/bubbling.js"> </script>
<%- include('./templates/end'); -%>
